@charset "UTF-8";

/*set the text font, text color and page background color of the body element, also set the width and center it within the browser display by setting the margin-right and margin-left properties to auto*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  background: url('./b4wood.jpg');
  background-color: #e7e3b5;
  width: 840px;
  margin-right: auto;
  margin-left: auto;
}
/*set the background color of the container div to a different color from the body, also add a solid border 10 pixels wide around it.*/
#container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  background-color: #81885b;
  border: 10px solid #8b4513;
  border-radius: 50px;
}
#frontimage {
  background-color: #e7e3b5;
  height: 343px;
  margin: 0;
}

#frontimage img {
  float: left;
  margin-right: 20px;
}

/* make the paragraph within the frontimage container an inline element so it will display on the same line, and style the text accordingly */
#frontimage p {
  display: inline;
  font-size: 1.5em;
  line-height: 200%;
}

#mainnav {
  display: block;
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
}

#mainnav ul {
  list-style: none;
  padding: 10px 0px;
  display: block;
}
#mainnav > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
}

#mainnav li {
  position: relative;
  top: 0;
  left: 0;
  background-color: #8b4513;
  padding: 10px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
}

#mainnav > ul > li {
  flex: 1 0 auto;
}
#mainnav > ul > li:hover {
  background-color: #e7e3b5;
}
#mainnav > ul > li:hover a {
  color: #8b4513;
}

#mainnav li > ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 5px;
  height: auto;
  width: 100%;
}
#mainnav li > ul > li {
  margin-left: 0px;
  margin-right: 0px;
}
#mainnav li:hover > ul > li:hover {
  background-color: #e7e3b5;
}
#mainnav li:hover > ul > li a {
  color: #e7e3b5;
}
#mainnav li:hover > ul > li:hover a {
  color: #8b4513;
}

#mainnav ul > li:hover > ul {
  display: block;
}

#mainnav > ul > li:first-child {
  margin-left: 0;
}
#mainnav > ul > li:last-child {
  margin-right: 0;
}

#mainnav a {
  text-decoration: none;
  color: #e7e3b5;
}

#maincontent {
  display: block;
  padding-bottom: 30px;
}
